<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hack9</title>
</head>
<body>
    <h1>Hello from Hack9</h1>
    <p>How's it going ready to get hacking?</p>

    <div>
        <button><a href="/create">
            Create Game
        </a></button>
        <button><a href="/join">Join Game</a></button>
        <button>More Info</button>

        <h2>More Info Section</h2>
    </div>
</body>
</html>
